.caja {
  background: #f00;
  height: 200px;
  width: 400px;
  overflow: auto;
}

.contenido {
  margin: 40px 30px 60px;
  background-color: chocolate;

  border: #00f 2px solid;
  padding: 20px 10px;
  height: 100px;
  width: 200px;

  overflow: auto;
}
